{% extends 'catalog/base.html' %}
{% block content %}

<div class="row">
    {% for object in object_list %}
    <div class="col-md-4">
        <div class="card box-shadow bg-dark h-100">
            {% include 'catalog/includes/inc_img.html' %}
            <div class="card-body" style="height: 300px;">
                <div class="card-header text-center d-flex align-items-center justify-content-center"
                     style="height: 4rem;">
                    <h3 class="font-weight-normal text-warning">{{ object.name }}</h3>
                </div>
                {% include 'catalog/includes/inc_card_body.html' %}
                <div class="card-footer mb-4 text-center">
                    <button type="button" class="btn btn-lg btn-block bg-warning text-dark w-100">Перейти
                    </button>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
