{% extends 'catalog/base.html' %}
{% block content %}

<div class="container px-4 py-5 text-center" id="hanging-icons">
    <div class="row align-items-start justify-content-around">
        <div class="col d-flex flex-column gap-2">
            <div>
                <h3 class="fs-2 text-body-emphasis">Адрес</h3>
                <p>{{ address|linebreaksbr }}</p>
            </div>
        </div>
        <div class="col d-flex flex-column gap-2">
            <div>
                <h3 class="fs-2 text-body-emphasis">Телефон</h3>
                <p>{{ phone }}</p>
            </div>
        </div>
        <div class="col d-flex flex-column gap-2">
            <div>
                <h3 class="fs-2 text-body-emphasis">Мессенджеры</h3>
                <p>{{ social }}</p>
            </div>
        </div>
    </div>
</div>
<div class="container text-center">
    <div class="row align-items-center py-5">
        <div class="col-lg-7">
            <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3">Остались вопросы?</h1>
            <p class="fs-4">Напишите нам ☛</p>
        </div>
        <div class="col-lg-5">
            <form method="post" class="p-4 p-md-5 border rounded-3 bg-body-tertiary">
                {% csrf_token %}
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="name" name="name" placeholder="Имя">
                    <label for="name">Имя</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" name="email"
                           placeholder="name@example.com">
                    <label for="floatingInput">Электронная почта</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="tel" class="form-control" id="phone" name='phone' placeholder="Телефон">
                    <label for="phone">Номер телефона</label>
                </div>
                <div class="checkbox mb-3">
                </div>
                <button class="w-100 btn btn-lg btn-warning" type="submit">Отправить</button>
                <hr class="my-4">
                <small class="text-body-secondary">Нажимая на кнопку вы даете согласие на обработку персональных данных.</small>
            </form>
        </div>
    </div>
</div>

{% endblock %}
