{% extends 'catalog/base.html' %}
{% load static %}

{% block content %}

<div class="row justify-content-center">
    <div class="container w-50">
        <form method="post" class="user-update-form" enctype="multipart/form-data">
            {% csrf_token %}
            <!--            {{ form.as_p }}-->
            <div class="mb-3">
                <label for="item_name" class="form-label">Название</label>
                <input type="text" class="form-control" id="item_name" name="name"
                       placeholder="Введите название товара">
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Описание</label>
                <textarea class="form-control" id="description" name="description" rows="3"
                          placeholder="Введите описание товара"></textarea>
            </div>
            <div class="mb-3">
                <label for="formFile" class="form-label">Изображение товара</label>
                <input class="form-control" type="file" id="formFile" name="image"
                       placeholder="Добавьте изображение товара">
            </div>
            <div class="mb-3">
                <select class="form-select" name="category">
                    <option selected>Выберите категорию</option>
                    {% for category in categories %}
                    <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Цена</label>
                <input type="number" class="form-control" id="price" name="price"
                       placeholder="Введите цену за единицу товара">
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-danger">Сохранить</button>
                <a href="{% url 'catalog:product_list' %}">
                    <button type="button" class="btn btn-success">Назад</button>
                </a>
            </div>
        </form>
    </div>
</div>
{% endblock %}