{% extends 'catalog/base.html' %}
{% load my_filters %}
{% block content %}

<div class="row justify-content-center">
    {% for object in object_list %}
    <div class="col-md-4">
        <div class="card box-shadow bg-dark h-100 flex-column">
            {% include 'catalog/includes/inc_img.html' %}
            <div class="card-header my-1">
                <div class="product-title-box">
                    <h3 class="my-2 font-weight-normal text-warning text-center" style="height: 3rem;">
                        {{ object.name }}</h3>
                </div>

                <div class="card-body text-center text-white" style="height: 3rem;">
                    <h1 class="card-title pricing-card-title">{{ object.price|currency}}</h1>
                </div>
                {% include 'catalog/includes/inc_card_body.html' %}
                <div class="card-footer mb-0 mt-5">
                    <a href="{% url 'catalog:product_detail' object.id  %}">
                        <button type="button" class="btn btn-lg btn-block bg-warning text-dark w-100">Подробнее
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    <div class="container mt-5 mb-5">
        <div class="d-grid gap-2 justify-content-center">
            <a href="{% url 'catalog:product_list' %}">
                <button type="button" class="btn btn-block bg-dark text-white">Список всех товаров
                </button>
            </a>
        </div>
    </div>

</div>
{% endblock %}
