{% extends 'catalog/base.html' %}
{% load my_filters %}
{% block content %}

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card mb-4 box-shadow bg-dark text-white">
            {% include 'catalog/includes/inc_img.html' %}
            <div class="card-header">
                <h1 class="card-title pricing-card-title text-center">{{ object.price|currency }}</h1>
            </div>
            {% include 'catalog/includes/inc_card_body.html' %}
            <div class="card-footer mb-4 mt-3 m-4 text-center">
                <button type="button" class="btn btn-lg btn-block bg-warning text-emphasis-dark w-50">Купить
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
